openapi: 3.1.0
info:
  title: Slashdot RSS/Atom Feeds
  description: >-
    Slashdot provides RSS 1.0 and Atom 1.0 feeds for programmatic access to
    technology news. Slashdot is a technology news aggregation and discussion
    site founded in 1997, covering open source, Linux, science, and technology.
    Feeds are available per topic section and are rate-limited to one request
    per 30 minutes per feed URL.
  version: '1.0'
  contact:
    url: https://slashdot.org/faq/feeds.shtml
  license:
    name: Slashdot Terms of Service
    url: https://slashdot.org/terms.shtml
servers:
  - url: https://rss.slashdot.org
    description: Slashdot RSS Feed Server
paths:
  /Slashdot/slashdotMain:
    get:
      operationId: getMainFeed
      summary: Get Main Feed
      description: >-
        Returns the main Slashdot RSS 1.0 feed containing the latest stories
        across all topics. Rate limited to one request per 30 minutes.
      tags:
        - Feeds
      parameters:
        - name: content_type
          in: query
          description: Set to 'rss' to get RSS format explicitly
          required: false
          schema:
            type: string
            enum:
              - rss
      responses:
        '200':
          description: RSS 1.0 feed of main Slashdot stories
          content:
            application/rss+xml:
              schema:
                $ref: '#/components/schemas/RssFeed'
        '429':
          description: Rate limit exceeded — too many requests within 30-minute window
  /Slashdot/slashdotMainatom:
    get:
      operationId: getMainFeedAtom
      summary: Get Main Feed (Atom)
      description: >-
        Returns the main Slashdot Atom 1.0 feed containing the latest stories
        across all topics.
      tags:
        - Feeds
      responses:
        '200':
          description: Atom 1.0 feed of main Slashdot stories
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/AtomFeed'
  /Slashdot/slashdotDevelopers:
    get:
      operationId: getDevelopersFeed
      summary: Get Developers Feed
      description: >-
        Returns the Slashdot Developers section RSS feed with stories focused
        on software development, programming languages, and developer tools.
      tags:
        - Feeds
        - Developers
      responses:
        '200':
          description: RSS 1.0 feed for the Developers section
          content:
            application/rss+xml:
              schema:
                $ref: '#/components/schemas/RssFeed'
  /Slashdot/slashdotLinux:
    get:
      operationId: getLinuxFeed
      summary: Get Linux Feed
      description: >-
        Returns the Slashdot Linux section RSS feed with stories focused on
        the Linux kernel, Linux distributions, and open source software.
      tags:
        - Feeds
        - Linux
      responses:
        '200':
          description: RSS 1.0 feed for the Linux section
          content:
            application/rss+xml:
              schema:
                $ref: '#/components/schemas/RssFeed'
  /Slashdot/slashdotApple:
    get:
      operationId: getAppleFeed
      summary: Get Apple Feed
      description: >-
        Returns the Slashdot Apple section RSS feed with stories about Apple
        products, macOS, iOS, and the Apple ecosystem.
      tags:
        - Feeds
        - Apple
      responses:
        '200':
          description: RSS 1.0 feed for the Apple section
          content:
            application/rss+xml:
              schema:
                $ref: '#/components/schemas/RssFeed'
  /Slashdot/slashdotGames:
    get:
      operationId: getGamesFeed
      summary: Get Games Feed
      description: >-
        Returns the Slashdot Games section RSS feed with stories about video
        games, gaming hardware, and the gaming industry.
      tags:
        - Feeds
        - Games
      responses:
        '200':
          description: RSS 1.0 feed for the Games section
          content:
            application/rss+xml:
              schema:
                $ref: '#/components/schemas/RssFeed'
  /Slashdot/slashdotScience:
    get:
      operationId: getScienceFeed
      summary: Get Science Feed
      description: >-
        Returns the Slashdot Science section RSS feed with stories about
        scientific research, discoveries, space, and technology.
      tags:
        - Feeds
        - Science
      responses:
        '200':
          description: RSS 1.0 feed for the Science section
          content:
            application/rss+xml:
              schema:
                $ref: '#/components/schemas/RssFeed'
  /Slashdot/slashdotYourRightsOnline:
    get:
      operationId: getYourRightsOnlineFeed
      summary: Get Your Rights Online Feed
      description: >-
        Returns the Slashdot Your Rights Online (YRO) section RSS feed with
        stories about digital rights, privacy, surveillance, and online freedom.
      tags:
        - Feeds
        - Rights
      responses:
        '200':
          description: RSS 1.0 feed for the Your Rights Online section
          content:
            application/rss+xml:
              schema:
                $ref: '#/components/schemas/RssFeed'
components:
  schemas:
    RssFeed:
      type: object
      description: >-
        RSS 1.0 (RDF Site Summary) feed document containing Slashdot stories.
      properties:
        channel:
          $ref: '#/components/schemas/RssChannel'
        items:
          type: array
          items:
            $ref: '#/components/schemas/RssItem'
    RssChannel:
      type: object
      description: RSS channel metadata
      properties:
        title:
          type: string
          description: Name of the feed (e.g., "Slashdot", "Slashdot Developers")
          example: Slashdot
        link:
          type: string
          format: uri
          description: URL of the Slashdot section
          example: https://slashdot.org/
        description:
          type: string
          description: Description of the feed
          example: News for nerds, stuff that matters
    RssItem:
      type: object
      description: Individual story item in the RSS feed
      properties:
        title:
          type: string
          description: Headline of the story
          example: Linux 7.0 Released With Major Scheduler Overhaul
        link:
          type: string
          format: uri
          description: URL of the story on Slashdot
        description:
          type: string
          description: HTML summary of the story with community commentary excerpt
        pubDate:
          type: string
          format: date-time
          description: Publication date and time of the story
        author:
          type: string
          description: Slashdot username of the submitter or editor
        category:
          type: string
          description: Topic category for the story
          example: Linux
        comments:
          type: string
          format: uri
          description: URL of the comment thread for the story
        guid:
          type: string
          description: Globally unique identifier for the story
    AtomFeed:
      type: object
      description: >-
        Atom 1.0 feed document containing Slashdot stories.
      properties:
        title:
          type: string
          description: Feed title
        updated:
          type: string
          format: date-time
          description: Last update timestamp
        entries:
          type: array
          items:
            $ref: '#/components/schemas/AtomEntry'
    AtomEntry:
      type: object
      description: Individual story entry in an Atom feed
      properties:
        title:
          type: string
          description: Story headline
        link:
          type: string
          format: uri
          description: URL of the story
        id:
          type: string
          description: Unique identifier (permalink)
        updated:
          type: string
          format: date-time
          description: Last update timestamp for this entry
        summary:
          type: string
          description: HTML summary of the story
        author:
          type: object
          properties:
            name:
              type: string
              description: Author display name
